<h1 align='center'>TO-DO LIST</h1>
{% if err %}<p><strong>{{ err }}</strong></p>{% endif %}
{% if msg %}<p><strong>{{ msg}}</strong></p>
<details>
<summary>Add a new Task</summary>
<table>
<form action="/todo/add/" method="post">
{% csrf_token %}
<tr><td>Name:</td><td><input type="text" maxlength="100" name="name1" required></br></td></tr>
<tr><td>
Description:</td><td><textarea rows="10" cols="19" name="desc"></textarea></br></td></tr>
<tr>
<td><input type="submit" value="add">
</td></tr></form>
</table>
</details>
</td>
<details><summary>Delete Task</summary>
<table>
<form action="/todo/delete/" method="post">
{% csrf_token %}
<tr><td>Name:</td><td><input type="text" maxlength="100" name="name2" required></br></td>
<td>&nbsp;</td><td>
<input type="submit" value="Delete">
</td></tr></form>
</table>
</details>
{% else %}
<h3>Your Tasks</h3>
<ol><table>
<th>Name</th>
<th>Created on</th>
{% for a in detail %}
<tr><td><a href="/todo/{{a.id}}/">{{a.name}}</a></td>
<td>{{a.created}}</td>
</tr>
{% endfor %}</table></ol>


<details>
<summary>Add a new Task</summary>
<table>
<form action="/todo/add/" method="post">
{% csrf_token %}
<tr><td>Name:</td><td><input type="text" maxlength="100" name="name1" required></br></td></tr>
<tr><td>
Description:</td><td><textarea rows="10" cols="19" name="desc"></textarea></br></td></tr>
<tr>
<td><input type="submit" value="add">
</td></tr></form>
</table>
</details>
</td>
<details><summary>Delete Task</summary>
<table>
<form action="/todo/delete/" method="post">
{% csrf_token %}
<tr><td>Name:</td><td><input type="text" maxlength="100" name="name2" required></br></td>
<td>&nbsp;</td><td>
<input type="submit" value="Delete">
</td></tr></form>
</table>
</details>
{% endif %}
